.login_page {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, rgba(23, 8, 8, 0.00) 0%, #4B1515 100%), #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;

    .logo_login{
        width: 57%;
        height: auto;
        position: absolute;
        left: 45%;
        top: 5%;
        transform: translateX(-50%);
        //pointer-events: none;
    }
.input_login{
    background-color: #033980;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    background: transparent;
    //z-index: 1;
    overflow: visible;
    .input-container-login{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        input{
            position: relative;
            width: 100%;
            height: 50px;
            z-index: 1;
            padding-left: 1rem;
            background-color: #170808;
            // background: transparent;
            // border: none;
            // box-sizing: border-box;
    
        }
        label{
            font-family: "Cinzel";
            font-size: 12px;
            padding: 0 12px;
        }

    }


    // .gradient-box {
    //     position: relative;
    //     padding: 10px; /* Adjust the padding as needed */
    //     border: 5px solid transparent; /* Transparent border to maintain spacing */
    //     border-radius: 10px; /* Optional: Makes the corners rounded */
    //     background: radial-gradient(141.42% 141.42% at 0% 0%, #8B8B8B 0%, #E2E1E1 21.88%, #8B8B8B 42.19%, #E2E1E1 60.94%, #8B8B8B 79.17%, #E2E1E1 100%);
    //     background-clip: border-box; /* Ensures the gradient is visible only on the border */
    //     box-shadow: 0 0 0 5px transparent; /* Optional: To avoid content overlapping */
    //     z-index: -1;
    // }



button{
    font-family: "Cinzel";
    font-size: 12px;
    gap: 10px;
    bottom: 50px;
}
img{
    bottom: 60px;
    gap: 50px;
}
}
.teste{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    background: transparent;
    //z-index: 1;
    overflow: visible;
}
}
.gradient-box {
    position: relative;
    box-sizing: border-box;
  
    $border: 2px;
    color: #ffffff;
    background: #fffefe;
    background-clip: padding-box;
    border: $border solid transparent; 
    border-radius: 5px;
    cursor: pointer;
  
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -$border; 
      border-radius: inherit; 
      background: radial-gradient(141.42% 141.42% at 0% 0%, #8B8B8B 0%, #E2E1E1 21.88%, #8B8B8B 42.19%, #E2E1E1 60.94%, #8B8B8B 79.17%, #E2E1E1 100%);
      pointer-events:none;
}
}
.error-message{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    font-size: 12px;
    border: 1px solid #4B1515;
    background-color: #170808;
    margin: -5px 0;
    border-radius: 5px;
}