.login_page {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, rgba(23, 8, 8, 0.00) 0%, #4B1515 100%), #000;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo_login{
        width: 57%;
        height: auto;
        position: absolute;
        left: 45%;
        top: 5%;
        transform: translateX(-50%);
        pointer-events: none;
    }
.input_login{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    input{
        position: relative;
        width: 100%;
        height: 50px;

    }
    .gradient-border {
        position: relative;
        padding: 10px; /* Adjust the padding as needed */
        border: 5px solid transparent; /* Transparent border to maintain spacing */
        border-radius: 10px; /* Optional: Makes the corners rounded */
        background: radial-gradient(141.42% 141.42% at 0% 0%, #8B8B8B 0%, #E2E1E1 21.88%, #8B8B8B 42.19%, #E2E1E1 60.94%, #8B8B8B 79.17%, #E2E1E1 100%);
        background-clip: border-box; /* Ensures the gradient is visible only on the border */
        box-shadow: 0 0 0 5px transparent; /* Optional: To avoid content overlapping */
    }
h1{
    position: relative;
    bottom: 0.2px;
    top: 30px;
    width: 10%;
    right: 0.1%;
    font-family: "Cinzel";
    font-size: 12px;
    margin: 0;
    
}

button{
    font-family: "Cinzel";
    font-size: 12px;
    gap: 10px;
    bottom: 50px;
}
img{
    bottom: 60px;
    gap: 50px;
}
}
}