.char_index{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, rgba(23, 8, 8, 0.00) 0%, #4B1515 100%), #000;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    z-index: 1;

h1{
    font-family: "pirata one";
    font-size: 32px;
    position: relative;
    bottom: 45%;


}
.button_char{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    border-radius: 5px;
    font-family: pirata one;
    left: 90%;
    align-items: left;

    
    
.char_link{
    display: flex;
    flex-direction: row;
    text-align: left;
    font-size: 24px;
    padding: 5px 20px;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    
        
        
    }
} 

.texto_botao{
    display: flex;
    flex-direction: column;
    gap: 2px;
        
    .estatisticas{
        font-family: outfit;
        font-size: 10px;
        color: #FF9292;
        margin-right: 10px;
        margin-top: 0.2px;
    }
    .personagem{
        font-family: pirata one;
        
    }

}

}
.gradient-box {
    position: relative;
    box-sizing: border-box;
  
    $border: 5px;
    color: #FFF;
    background: linear-gradient(92deg, #840000 0.35%, #600000 101.27%);
    background-clip: padding-box;
    border: $border solid transparent; 
    border-radius: 5px;
    //cursor: pointer;
  
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -$border; 
      border-radius: inherit; 
      background: radial-gradient(141.42% 141.42% at 0% 0%, #8B8B8B 0%, #E2E1E1 21.88%, #8B8B8B 42.19%, #E2E1E1 60.94%, #8B8B8B 79.17%, #E2E1E1 100%);
      //pointer-events:none;
}
}
