.logo_div{
    font-family: "pirata one";
    font-size: 32px;
    position: absolute;
    top: 0;
    color: #E4D7D7;
    background: #0D0202;
    z-index: 7;
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   height: 50px;
   width: 100%;








}